<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cofire.dao.mapper.custom.UserPermissionCustomMapper">
	<!-- 获取用户权限 -->
	<select id="getUserPermission" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT DISTINCT URL FROM sys_resource A
            INNER JOIN sys_role_resource B ON A.RES_ID=B.RES_ID
            INNER JOIN sys_user_role C ON B.ROLE_ID=C.ROLE_ID
        WHERE C.USER_ID= #{USER_ID}
    </select>
    
    <select id="getUserResource" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
            DISTINCT
            sys_user.USER_ID,
            sys_resource.RES_ID AS "id",
            '' AS "iconCls",
            sys_resource.PARENT_ID AS parentId,
            sys_resource.URL AS url,
            sys_resource.RES_NAME AS "text",
            sys_resource.ISLEAF AS leaf,
            sys_resource.MORDER
        FROM
            sys_resource
        LEFT JOIN sys_role_resource ON sys_role_resource.RES_ID = sys_resource.RES_ID
        LEFT JOIN sys_role ON sys_role.ROLE_ID = sys_role_resource.ROLE_ID
        LEFT JOIN sys_user_role ON sys_user_role.ROLE_ID = sys_role.ROLE_ID
        LEFT JOIN sys_user ON sys_user.USER_ID = sys_user_role.USER_ID
        WHERE
            sys_user.USER_ID = #{USER_ID}
        ORDER BY
            MORDER
	</select>
</mapper>