<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cofire.dao.mapper.system.JobLogMapper">
  <resultMap id="BaseResultMap" type="com.cofire.dao.model.system.JobLog">
    <id column="sid" jdbcType="BIGINT" property="sid" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="job_id" jdbcType="VARCHAR" property="jobId" />
    <result column="is_success" jdbcType="VARCHAR" property="isSuccess" />
    <result column="error_message" jdbcType="VARCHAR" property="errorMessage" />
    <result column="run_time" jdbcType="VARCHAR" property="runTime" />
    <result column="filler1" jdbcType="VARCHAR" property="filler1" />
    <result column="filler2" jdbcType="VARCHAR" property="filler2" />
    <result column="filler3" jdbcType="VARCHAR" property="filler3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sid, ip, job_id, is_success, error_message, run_time, filler1, filler2, filler3
  </sql>
  <select id="selectByExample" parameterType="com.cofire.dao.model.system.JobLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from qtz_job_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qtz_job_log
    where sid = #{sid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from qtz_job_log
    where sid = #{sid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cofire.dao.model.system.JobLogExample">
    delete from qtz_job_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cofire.dao.model.system.JobLog">
    insert into qtz_job_log (sid, ip, job_id, 
      is_success, error_message, run_time, 
      filler1, filler2, filler3
      )
    values (#{sid,jdbcType=BIGINT}, #{ip,jdbcType=VARCHAR}, #{jobId,jdbcType=VARCHAR}, 
      #{isSuccess,jdbcType=VARCHAR}, #{errorMessage,jdbcType=VARCHAR}, #{runTime,jdbcType=VARCHAR}, 
      #{filler1,jdbcType=VARCHAR}, #{filler2,jdbcType=VARCHAR}, #{filler3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cofire.dao.model.system.JobLog">
    insert into qtz_job_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="jobId != null">
        job_id,
      </if>
      <if test="isSuccess != null">
        is_success,
      </if>
      <if test="errorMessage != null">
        error_message,
      </if>
      <if test="runTime != null">
        run_time,
      </if>
      <if test="filler1 != null">
        filler1,
      </if>
      <if test="filler2 != null">
        filler2,
      </if>
      <if test="filler3 != null">
        filler3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=BIGINT},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="jobId != null">
        #{jobId,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null">
        #{isSuccess,jdbcType=VARCHAR},
      </if>
      <if test="errorMessage != null">
        #{errorMessage,jdbcType=VARCHAR},
      </if>
      <if test="runTime != null">
        #{runTime,jdbcType=VARCHAR},
      </if>
      <if test="filler1 != null">
        #{filler1,jdbcType=VARCHAR},
      </if>
      <if test="filler2 != null">
        #{filler2,jdbcType=VARCHAR},
      </if>
      <if test="filler3 != null">
        #{filler3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cofire.dao.model.system.JobLogExample" resultType="java.lang.Long">
    select count(*) from qtz_job_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update qtz_job_log
    <set>
      <if test="record.sid != null">
        sid = #{record.sid,jdbcType=BIGINT},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.jobId != null">
        job_id = #{record.jobId,jdbcType=VARCHAR},
      </if>
      <if test="record.isSuccess != null">
        is_success = #{record.isSuccess,jdbcType=VARCHAR},
      </if>
      <if test="record.errorMessage != null">
        error_message = #{record.errorMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.runTime != null">
        run_time = #{record.runTime,jdbcType=VARCHAR},
      </if>
      <if test="record.filler1 != null">
        filler1 = #{record.filler1,jdbcType=VARCHAR},
      </if>
      <if test="record.filler2 != null">
        filler2 = #{record.filler2,jdbcType=VARCHAR},
      </if>
      <if test="record.filler3 != null">
        filler3 = #{record.filler3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update qtz_job_log
    set sid = #{record.sid,jdbcType=BIGINT},
      ip = #{record.ip,jdbcType=VARCHAR},
      job_id = #{record.jobId,jdbcType=VARCHAR},
      is_success = #{record.isSuccess,jdbcType=VARCHAR},
      error_message = #{record.errorMessage,jdbcType=VARCHAR},
      run_time = #{record.runTime,jdbcType=VARCHAR},
      filler1 = #{record.filler1,jdbcType=VARCHAR},
      filler2 = #{record.filler2,jdbcType=VARCHAR},
      filler3 = #{record.filler3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cofire.dao.model.system.JobLog">
    update qtz_job_log
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="jobId != null">
        job_id = #{jobId,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null">
        is_success = #{isSuccess,jdbcType=VARCHAR},
      </if>
      <if test="errorMessage != null">
        error_message = #{errorMessage,jdbcType=VARCHAR},
      </if>
      <if test="runTime != null">
        run_time = #{runTime,jdbcType=VARCHAR},
      </if>
      <if test="filler1 != null">
        filler1 = #{filler1,jdbcType=VARCHAR},
      </if>
      <if test="filler2 != null">
        filler2 = #{filler2,jdbcType=VARCHAR},
      </if>
      <if test="filler3 != null">
        filler3 = #{filler3,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cofire.dao.model.system.JobLog">
    update qtz_job_log
    set ip = #{ip,jdbcType=VARCHAR},
      job_id = #{jobId,jdbcType=VARCHAR},
      is_success = #{isSuccess,jdbcType=VARCHAR},
      error_message = #{errorMessage,jdbcType=VARCHAR},
      run_time = #{runTime,jdbcType=VARCHAR},
      filler1 = #{filler1,jdbcType=VARCHAR},
      filler2 = #{filler2,jdbcType=VARCHAR},
      filler3 = #{filler3,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=BIGINT}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null and databaseId == 'oracle'">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null and databaseId == 'oracle'">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <=#{page.end} ]]>
    </if>
  </sql>
  <sql id="MssqlDialectPrefix">
    <if test="page != null and databaseId == 'mssql'">
      select * from ( select row_number() over (order by ${orderByClause}) as R, p.* from ( 
    </if>
  </sql>
  <sql id="MssqlDialectSuffix">
    <if test="page != null and databaseId == 'mssql'">
      <![CDATA[ ) p ) p2 where R > #{page.begin} and R <= #{page.end} ]]>
    </if>
  </sql>
  <sql id="MysqlDialect">
    <if test="page != null and databaseId == 'mysql'">
      limit #{page.begin} , #{page.length}
    </if>
  </sql>
  <select id="selectPageByExample" parameterType="com.cofire.dao.model.system.JobLogExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    <include refid="MssqlDialectPrefix" />
    select 
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID, 
    <include refid="Base_Column_List" />
    from qtz_job_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null and (databaseId == 'mysql' or databaseId == 'oracle') ">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
    <include refid="MssqlDialectSuffix" />
    <include refid="MysqlDialect" />
  </select>
</mapper>